* {
  text-decoration: none;
  box-sizing: border-box;
}

body{
    background: -webkit-linear-gradient(left, #fae9a5, #f5efcf);
    background: linear-gradient(to right, #f4eece, #f4eece);
    <!--<img src="img/RFID_STICKER_LOGO.png" alt"RFID Sticker Logo">-->
    <div class = "img-RFID_STICKER_LOGO.jpg"> </div>
  
    font-family: sans-serif;
    margin: 0;
    font-size: 15px;
    color: #4B0606;
    margin-bottom: 55%;
}

.image{
	width: 100px;
	height: 100px;
}

header, main { 
    width: 100%;
    display: block;
    margin: 0 auto;
}

.header { 
  padding: 5px;
  width: 100%;
  height: 120px;
}
.logo a {
  text-decoration: none; 
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 25px;
  color: #333;
  font-weight: 1000;
  text-transform: uppercase;
  padding: 5px;
  width: 100%;
  position: relative;
  top: -10px;
  margin-bottom: 10px;
  
}

.a {
  text-decoration: none;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 20.5px;
  color: #333;
  font-weight: 1000;
  text-transform: uppercase;
  vertical-align: middle;
  position: absolute;
  top: 25px;
  right:20px; /* Set to 0 to move to the top right */
}

.b {
  text-decoration: none;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 15px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  position: absolute;
  top: 50px; /* Adjust as needed */
  right:20px; /* Set to 0 to move to the top right */
}

.c {
  text-decoration: none;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 15px;
  color: #333;
  font-weight: 100;
  text-transform: uppercase;
  vertical-align: middle;
  position: absolute;
  top: 70px; /* Adjust as needed */
  right:20px; /* Set to 0 to move to the top right */
}



#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: #333;
}

.content {
  padding: 16px;
}

.topnav {
  overflow: hidden;
  background-color: #d91212;
  margin-top: -10px;
  z-index: 9999;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
  font-size: 17px;
  z-index: 9999;
}

.topnav a:hover {
  background-color: #BD0F0F;
  color: #333;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .header { 
    height: 80px;
  }
  .logo a {
    font-size: 27px;
    line-height: 80px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .modalss-content {
    width: 90% !important;
  }
}	
tbody tr:nth-child(even){background-color: #b60d0d;}
tbody tr:nth-child(odd){background-color: #d91212;}

tbody tr:hover {opacity: 0.8;}

h3 {
  padding: 15px;
}
span.psw {
  float: right;
  padding-top: 16px;
}

.bootbox-body {
  color: #fff !important;
}
.modal-header, .modal-footer {
  background-color: #b60d0d !important;
  border: none !important;
  color: #fff !important;
}

.modal-body {
  background-color: #d81212 !important;
}

.modal-body input[type="text"],
.modal-body input[type="email"],
.modal-body input[type="date"],
.modal-body input[type="time"],
.modal-body select,
.modal-body input[type="password"] {
  font-family: sans-serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #e8eeef;
  color: #333;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border: 1px solid #e8eeef;
}
.close {
  position: sans-serif;
  right: 15px;
  top: 15px;
  color: #333;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:foPat {
  color: #d91212;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
.up_info1, .up_info2 {
  display: none;
  width: 270px;
  height: 40px;
  font-size: 17px;
  font-family: sans-serif;
  padding: 5px;
  margin-right: 20px;
  text-align: center;
  position: absolute;
}

@media (max-width: 1024px) {
  body{
    background: -webkit-linear-gradient(left, #fae9a5, #f5efcf);
    background: linear-gradient(to right, #f4eece, #f4eece);
    <!--<img src="img/RFID_STICKER_LOGO.png" alt"RFID Sticker Logo">-->
    <div class = "img-RFID_STICKER_LOGO.jpg"> </div>

    font-family: sans-serif;
    margin: 0;
    font-size: 15px;
    color: #4B0606;
    margin-bottom: 120%;
  }
}

@media (max-width: 1024px) {
  body{
    background: -webkit-linear-gradient(left, #fae9a5, #f5efcf);
    background: linear-gradient(to right, #f4eece, #f4eece);
    <!--<img src="img/RFID_STICKER_LOGO.png" alt"RFID Sticker Logo">-->
    <div class = "img-RFID_STICKER_LOGO.jpg"> </div>

    font-family: sans-serif;
    margin: 0;
    font-size: 15px;
    color: #4B0606;
    margin-bottom: 200%;
  }
}

/* CSS styles for laptops and desktops */
@media (min-width: 1024px) {
  body{
    background: -webkit-linear-gradient(left, #fae9a5, #f5efcf);
    background: linear-gradient(to right, #f4eece, #f4eece);
    <!--<img src="img/RFID_STICKER_LOGO.png" alt"RFID Sticker Logo">-->
    <div class = "img-RFID_STICKER_LOGO.jpg"> </div>

    font-family: sans-serif;
    margin: 0;
    font-size: 15px;
    color: #4B0606;
    margin-bottom: 120%;
  }
}